#myCanvas{
    margin-left: 200px;
    margin-right: auto;

}
.imgfield{
    height: 100%;
    width: 99%;
    margin-left: 1%;
    margin-top: 1%;
}
h2{
color: white;
font-family: Oswald;
text-align: center;
font-size: 1.5vw;
}
div{
    display: inline-block;
}
.card {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: arial;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 25%;  
    border-radius: 10px;
}
  #divid{
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 0;
  }
  .genre{
      position: absolute;
      border: 2px solid black;
      background: radial-gradient(#e66465, #9198e5);
      top: 0;
      right: 0;
	height : 4vw;
	width : 4vw;
    border-radius : 50%;
}
body{
    background-color: #032541;
    margin: 0;
    padding: 0;
}
#list{
    position: relative;
    float: left;
    width: 7em;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 101%;
    border: none;
    border-left: none;
    cursor: pointer;
}
.p22{
    text-align: center;
    margin-top:20%;
}
.myButton {
	box-shadow:inset 0px 0px 0px 0px #bee2f9;
	background-color:#01b4e4;
	border-radius:6px;
	border:none;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family:Arial;
	font-size:1.5vw;
	font-weight:bold;
	padding:8px 8px;
	text-decoration:none;
    text-shadow:0px 1px 0px #7cacde;
    margin-left: 28%;
}
.myButton:hover {
    background-color:#90cea1;
    border-color: #90cea1;
    transition-delay: 0.5s;
}
.myButton:active {
	position:relative;
	top:1px;
}
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    float: left;
    width: 50%;
  }
  
  form.example button {
      position: relative;
    float: left;
    width: 22%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: none;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  form.example{
      margin-left: 20%;
      margin-top: 5%;

  }
  .bigsitetext{
      margin-left: 29%;
  }
.bigsitetext h1{
    font-size: 4.5vw;
    color:white;
    font-family: Oswald;
    padding: 0;
    margin-bottom: 0;
}
.obrazok img{
    width: 50%;
    height: 50%;
}
.obrazok{
    margin-left: 42%;
    margin-right: auto;
}